---
import MetodoContactoGithub from "./MetodoContactoGithub.astro"
import MetodoContactoLinkedin from "./MetodoContactoLinkedin.astro"
import MetodoContactoEmail from "./MetodoContactoEmail.astro"
import MetodoContactoTelefono from "./MetodoContactoTelefono.astro"
import MetodoContactoCV from "./MetodoContactoCV.astro"
import MetodoContactoUbicacion from "./MetodoContactoUbicacion.astro"
import Linux from "./Linux.astro"

---
<div class="divIntro">
    <p>Actualmente estoy buscando <span class="pRojo">prácticas</span> y la oportunidad de realizar el <span class="pRojo">TFG</span> en empresa. 
        Si tienes alguna oferta no dudes en contactarme.</p>
</div>
<div class="divPrincipal">
    <div class="divContactos">
        <div class="divContacto fadeInLeft">
            <MetodoContactoEmail />
            <h4>martin.lopezdeipina@gmail.com</h4>
        </div>
        <div class="divContacto fadeInLeft">
            <MetodoContactoTelefono />
            <h4>+34 619 31 95 35</h4>
        </div>
        <div class="divContacto fadeInLeft">
            <MetodoContactoUbicacion />
            <h4>Donostia-San Sebastián</h4>
        </div>
        <div class="divContacto fadeInLeft">
            <MetodoContactoUbicacion />
            <h4>Vitoria-Gasteiz</h4>
        </div>
        <div class="divOtros fadeInLeft">
            <MetodoContactoGithub />
            <MetodoContactoLinkedin />
            <MetodoContactoCV />
        </div>
    </div>
    <div class="divLinux">
        <Linux />
    </div>
</div>

<style>
    .divPrincipal{
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        gap: 50px;
    }
    .divLinux{
        padding-bottom: 50px;
    }
    .divOtros{
        display:flex;
        justify-content: center;
        gap: 25px;
        margin-top: 25px;
    }
    .divContactos{
        display:flex;
        flex-direction: column;
        align-items: left;
        width: fit-content;
        margin-bottom: 50px;
    }
    .divContacto{
        display:flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        gap: 25px;
    }
    h4{
        font-size: 18px;
        color: var(--color-on-surface);
    }

    @media (max-width: 1300px) {
        .divPrincipal{
            flex-direction: column;
        }
        .divIntro{
            max-width: 100%;
        }
    }


	@media screen and (max-width: 1100px) {
		.divIntro p{
			font-size: 24px;
		}
	}
	@media screen and (max-width: 900px) {
		.divIntro p{
			font-size: 20px;
		}
	}
	@media screen and (max-width: 768px) {
		.divIntro p{
			font-size: 16px;
		}
        h4{
            font-size: 16px;
        }
	}
</style>