.dark{
    /** CSS DARK THEME PRIMARY COLORS */
     --color-primary-100:  #c7493a;
     --color-primary-200:  #d05f4e;
     --color-primary-300:  #d97462;
     --color-primary-400:  #e18877;
     --color-primary-500:  #e89c8c;
     --color-primary-600:  #eeafa2;

     /** CSS DARK THEME tertiary COLORS */
     --color-tertiary-100:  #689775;
     --color-tertiary-200:  #78a283;
     --color-tertiary-300:  #89ae92;
     --color-tertiary-400:  #99b9a1;
     --color-tertiary-500:  #aac4b0;
      --color-tertiary-600:  #bbd0bf;

    /** CSS DARK THEME SURFACE COLORS */
     --color-surface-100:  #121212;
     --color-surface-150: #202020;
     --color-surface-200:  #282828;
     --color-surface-300:  #3f3f3f;
     --color-surface-400:  #575757;
     --color-surface-500:  #717171;
     --color-surface-600:  #8b8b8b;
    
    /** CSS DARK THEME MIXED SURFACE COLORS */
     --color-surface-mixed-100:  #231916;
     --color-surface-mixed-200:  #382e2b;
     --color-surface-mixed-300:  #4e4542;
     --color-surface-mixed-400:  #655c5a;
     --color-surface-mixed-500:  #7d7573;
     --color-surface-mixed-600:  #958f8d;

     --color-on-surface: white;

     --color-sparkles: #ffffff;

}
    
    
    
    