@import url('/themes/redTheme/dark.css');
@import url('/themes/redTheme/light.css');

html{
  /*background-color:#111114;*/
  /*background-color: #212121;*/
  background-color: var(--color-surface-100);
  display: flex;
  justify-content: center;
}

h3{
  color: var(--color-on-surface);
  font-size: 28px;
  font-weight: bold;
  /*color:#00e400;*/
}

h2{
    font-size: 42px;
    color: #c45e72;
}

p{
  color: var(--color-on-surface);
	font-size: 24px;
}

.divIntro{
    max-width: 60%;
    margin-top: -25px;
    margin-bottom: 50px;
}

.pRojo{
  color: var(--color-primary-100);
  font-weight: bold;
}

.fadeInRight, .fadeInLeft{
  opacity: 0;
}

.activeLeft{
animation: faseInLeft 0.7s ease;
animation-fill-mode: forwards;
}
@keyframes faseInLeft{
from{
opacity: 0;
transform: translateX(-50%);
}
to{
opacity: 1;
transform: translateX(0%);
}
}

.activeRight{
animation: faseInRight 0.7s ease;
animation-fill-mode: forwards;
}
@keyframes faseInRight{
from{
opacity: 0;
transform: translateX(50%);
}
to{
opacity: 1;
transform: translateX(0%);
}
}

