html{
  color:aliceblue;
  /*background-color:#111114;*/
  /*background-color: #212121;*/
  background-color:#15151d;
  display: flex;
  justify-content: center;
}

h3{
    font-weight: normal;
    /*color:#43b843;*/
    color:#00e400;
}

h2{
    font-size: 36px;
    color: #c45e72;
}

.hidden{
  opacity: 0;
}

.hiddenNombre{
  transform: translateX(-33%);
  transition: all 0.5s;
  filter:blur(5px);
}
.hiddenFoto{
  transform: translateX(100%);
  transition: all 0.3s;
  filter:blur(5px);
  transition-delay: 200ms;
}
.hiddenSubtitulo1{
  transition:all 0.5s;
  filter:blur(2px);
  transition-delay: 300ms;
}
.hiddenSubtitulo2{
  transition:all 0.5s;
  filter:blur(2px);
  transition-delay: 400ms;
}
.hiddenSparkles{
  transition:all 1.5s;
  filter:blur(2px);
}

.show{
  opacity:1;
  filter:blur(0px);
  transform: translateX(0%);
}