@import url('/themes/redTheme/dark.css');
@import url('/themes/redTheme/light.css');

html{
  /*background-color:#111114;*/
  /*background-color: #212121;*/
  background-color: var(--color-surface-100);
  display: flex;
  justify-content: center;
}

h3{
    font-weight: normal;
    /*color:#43b843;*/
    color:#00e400;
}

h2{
    font-size: 42px;
    color: #c45e72;
}

p{
  color: var(--color-on-surface);
}
