---
import IndexLayout from '../layouts/IndexLayout.astro'
import Sparkle from '../components/sparkle.astro'

const nombre = "Martín López de Ipiña"
---

<IndexLayout tituloPagina="Inicio">



<div class="divPaginaPrincipal">
	<div class="divNombre ">
		<h1 id="h1Nombre" class="hidden hiddenNombre">{nombre}
		</h1>
		<div class="divSparklesFoto">
			<div class="divSparkles hidden hiddenSparkles">
				<Sparkle/>
			</div>
			<div class="divFoto hidden hiddenFoto">
				<img src="/img/foton.jpeg" class="foto">
			</div>
		</div>
	</div>
	<div class="divSubtitulo hidden">
		<div class="divAuxiliarSubtitulo">
			<h3 class="h3SubTitulo subtitulo hidden hiddenSubtitulo1">Ingeniero de Software centrado en tecnologías backend<span class="pVerde">~$</span></h3>
			<div class="subtitulo">
				<p class="hidden hiddenSubtitulo2">Actualmente estoy cursando el tercer curso del grado de<span class="pRojo"> Ingeniería Informática </span>en la <span class="pRojo">UPV/EHU</span>. Especializado en Ingeniería de Software. </p>
			</div>
		</div>
	</div>
</div>


</IndexLayout>

<style>

	#divPaginaPrincipal{
		height:100vh;
	}

	.divSparklesFoto{
		width: 100%;
		position:relative;
		display: flex;
		justify-content:center;
	}

	.pVerde{
		font-weight: bold;
		color:#00e400;
	}
	.pRojo{
		color:#c45e72;
		font-weight: bold;
	}

	h1{
		margin-bottom: 0px;
	}

	#h1Nombre {
		font-size: 86px;
		color: #c45e72;

		font-weight: bolder;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top:0px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}


	.divSparkles{
		display:flex;
		justify-content: center;
		width:700px;
		position:absolute;
	}

	.divFoto{
		margin-top:40px;	
		display: flex;
		display:flex;
		justify-content: center;
	}



	.foto {
		box-shadow: 0 0 15px white;
		z-index: 2;
		border-radius: 50%;
		width: 200px;
		height: 200px;
	}

	.foto:hover {
		transition: 0.3s;
		box-shadow: 0 0 25px #bb9af7;
	}

	.divNombre {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.divSubtitulo {
		self-align: flex-start;
		width:100%;
		padding-top:25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: left;
	}	

	.divAuxiliarSubtitulo{
		max-width:60%;
		display: flex;
		flex-direction: column;

	}


	.h3SubTitulo {
		margin-bottom: 20x;
		font-weight: bold;
		/*color:#43b843;*/
		color: #bb9af7;
		font-size: 42px;
	}

	p{
		font-size: 24px;
		margin-top: 0px;

	}


	.imgLogo{
		position: absolute;
        width: 40px;
        height: 40px;
        transition: all ease 0.3s;
    }
    .imgLogo:hover{
        transform: scale(1.2);
    }




</style>