---
import IndexLayout from '../layouts/IndexLayout.astro'
import Sparkle from '../components/sparkle.astro'
---

<IndexLayout tituloPagina="Inicio">



	<div class="divNombre">
		<div class="divNombreSparkles">
			<h1 id="h1Nombre">Martín López de Ipiña</h1>
			<hr class="hrNombre">
			<div class="divSparkles">
				<Sparkle client:load/>
			</div>
		</div>
		<div class="divFoto">
			<img src="/img/matt.png" class="foto">
		</div>
	</div>
	<div class="divSubtitulo">
		<h3 class="h3Subtitulo subtitulo">Ingeniero de Software centrado en tecnologías backend~$</h3>
		<div class="subtitulo">
			<p>Actualmente estoy cursando el tercer curso del grado de Ingeniería Informática en la UPV/EHU. Especializado en Ingeniería de Software. </p>
		</div>
	</div>



	<h2>Estudios</h2>
	<div class="divEstudios">
		<div>
			<h3>Ingeniería Informática, Facultad de Donostia San-Sebastian</h3>
			<p>Desde Septiembre de 2021</p>
		</div>
	</div>
	<h2>Lenguajes</h2>
	<h2>Frameworks</h2>
	<h2>Proyectos</h2>
</IndexLayout>

<style>


	h1{
		margin-bottom: 0px;
	}

	#h1Nombre {
		margin-top:0px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	#h1Nombre::after{
		content: "";
		bottom:0;
		left: 0;
		width:100%;
		height: 2px;
		background: radial-gradient(circle at center, #c45e72, transparent);
	}

	.hrNombre{
		margin-top:0px;
		margin-bottom:0px;
		width:100%;
		border: 0px;
		height: 2px;
		background: radial-gradient(circle at center, #c45e72, transparent);
	}
	
	.divNombreSparkles {
		display:block;
		align-items: center;
		text-align: center;
		align-content: center;
	}

	.divSparkles{
		display:flex;
		justify-content: center;
		width:700px;
		position:absolute;
	}

	.divFoto{
		margin-top:50px;	
		display: flex;
		display:flex;
		justify-content: center;
	}



	.foto {
		z-index: 2;
		border-radius: 50%;
		width: 200px;
		height: 200px;
	}

	.foto:hover {
		opacity: 0.8;
		transform: scale(100.05);
		transition: 50.2s;
	}

	.divNombre {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.divSubtitulo {
		padding-top:20px;
		display: flex;
		justify-content: space-around;
	}	

	.subtitulo{
		max-width: 40%;
	}

	

	.h3SubTitulo {
		max-width: 50%;
		font-weight: normal;
		/*color:#43b843;*/
		color:#00e400;
	}

	.divEstudios{
		display: flex;
	}




</style>