---
import IndexLayout from '../layouts/IndexLayout.astro'
import Sparkle from '../components/sparkle.astro'

const nombre = "Martín López de Ipiña"
---

<IndexLayout tituloPagina="Inicio">


	<div class="divNombre">
		<h1 id="h1Nombre">Martín López de Ipiña</h1>
		<div class="divSparklesFoto">
			<div class="divSparkles">
				<Sparkle/>
			</div>
			<div class="divFoto">
				<img src="/img/foton.jpeg" class="foto">
			</div>
		</div>
	</div>
	<div class="divSubtitulo">
		<h3 class="h3SubTitulo subtitulo">Ingeniero de Software centrado en tecnologías backend<span class="pVerde">~$</span></h3>
		<div class="subtitulo">
			<p>Actualmente estoy cursando el tercer curso del grado de<span class="pRojo"> Ingeniería Informática </span>en la <span class="pRojo">UPV/EHU</span>. Especializado en Ingeniería de Software. </p>
		</div>
	</div>



</IndexLayout>

<style>


	.divSparklesFoto{
		width: 100%;
		position:relative;
		display: flex;
		justify-content:center;
	}

	.pVerde{
		font-weight: bold;
		color:#00e400;
	}
	.pRojo{
		color:#c45e72;
		font-weight: bold;
	}

	h1{
		margin-bottom: 0px;
	}

	#h1Nombre {
		font-size: 86px;
		color: #c45e72;

		font-weight: bolder;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top:0px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}


	.hrNombre{
		margin-top:0px;
		margin-bottom:0px;
		width:100%;
		border: 0px;
		height: 2px;
		background: radial-gradient(circle at center, #bb9af7, transparent);
	}
	

	.divSparkles{
		display:flex;
		justify-content: center;
		width:700px;
		position:absolute;
	}

	.divFoto{
		margin-top:40px;	
		display: flex;
		display:flex;
		justify-content: center;
	}



	.foto {
		box-shadow: 0 0 15px white;
		z-index: 2;
		border-radius: 50%;
		width: 200px;
		height: 200px;
	}

	.foto:hover {
		transition: 0.3s;
		box-shadow: 0 0 25px #bb9af7;
	}

	.divNombre {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.divSubtitulo {
		padding-top:25px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}	

	.subtitulo{
		max-width: 60%;
	}

	

	.h3SubTitulo {
		font-weight: bold;
		/*color:#43b843;*/
		color: #bb9af7;
		font-size: 42px;
	}

	p{
		font-size: 24px;

	}

	.divEstudios{
		display: flex;
	}

	.divLinks{
		display:flex;
		justify-content: center;
		padding-top:25px;
		padding-top: 20px;
		
	}

	.link{
		padding:7px 14px;
		text-decoration: none;
		font-weight: bold;
		font-size: 32px;
		margin-right: 50px;
		margin-left: 50px;
		text-align: center;
		/*color:#71d7c7; */
		border-radius:10px;
		color: #71d7c7;
		box-shadow: 0 0 4px #415A77;

	}

	.link:hover{
		box-shadow: 0 0 30px #415A77;
		transition-duration: 0.1s;
		color:white;
	}

	.link:active{
		transform: scale(0.95);
	}

	.imgLogo{
		position: absolute;
        width: 40px;
        height: 40px;
        transition: all ease 0.3s;
    }
    .imgLogo:hover{
        transform: scale(1.2);
    }




</style>