---
import IndexLayout from '../layouts/IndexLayout.astro';
import Sparkle from '../components/sparkle.astro';
import CVSocialLink from '../components/socialLinks/CVSocialLink.astro';
import GithubSocialLink from '../components/socialLinks/GithubSocialLink.astro';
import LinkedinSocialLink from '../components/socialLinks/LinkedinSocialLink.astro';
import Seccion from '../components/Seccion.astro';

const nombre = "Martín López de Ipiña";
---

<IndexLayout tituloPagina="Portfolio de Martín">



<div class="divPaginaPrincipal">
	<div class="divNombre ">
		<h1 id="h1Nombre" class="fadeInLeftNombre">{nombre}
		</h1>
		<div class="divSparklesFoto">
			<div class="divSparkles fadeInSparkles">
				<Sparkle/>
			</div>
			<div class="divFotoSocialLinks ">
				<div class="divFoto fadeInRightFoto">
					<img src="/img/foton.webp" class="foto">
				</div>
				<GithubSocialLink />
				<LinkedinSocialLink />
				<CVSocialLink />
			</div>
		</div>
	</div>
	<div class="divSubtitulo">
		<div class="divAuxiliarSubtitulo">
			<p class="h3SubTitulo subtitulo fadeInSubtitulo1">Ingeniero de Software centrado en tecnologías backend<span class="pVerde"></span></p>
			<div class="subtitulo">
				<p class="fadeInSubtitulo2">Actualmente estoy cursando el tercer curso del grado de<span class="pRojo"> Ingeniería Informática </span>en la <span class="pRojo">UPV/EHU</span>. Especializado en Ingeniería de Software. </p>
			</div>
		</div>
	</div>
</div>
<div>
	<Seccion nombreSeccion="Proyectos"/>
	<Seccion nombreSeccion="Conocimientos" />
	<Seccion nombreSeccion="Contacto"/>
</div>


</IndexLayout>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const videoPlayers = document.querySelectorAll('#videoPlayer') as NodeListOf<HTMLVideoElement>;

        videoPlayers.forEach(videoPlayer => {
            const progressValue = videoPlayer.parentNode.querySelector('.progress-value') as HTMLElement;
            const progressBar = videoPlayer.parentNode.querySelector('.progress') as HTMLElement;
            const pauseButton = videoPlayer.parentNode.querySelector('.botonPausa');
			const pauseButtonPath = pauseButton.querySelector('path');

			setTimer();

            videoPlayer.addEventListener('pause', () => {
				videoPlayer.classList.remove('playing');
				videoPlayer.classList.add('paused');
				pauseButtonPath.setAttribute('d', 'M16.6582 9.28638C18.098 10.1862 18.8178 10.6361 19.0647 11.2122C19.2803 11.7152 19.2803 12.2847 19.0647 12.7878C18.8178 13.3638 18.098 13.8137 16.6582 14.7136L9.896 18.94C8.29805 19.9387 7.49907 20.4381 6.83973 20.385C6.26501 20.3388 5.73818 20.0469 5.3944 19.584C5 19.053 5 18.1108 5 16.2264V7.77357C5 5.88919 5 4.94701 5.3944 4.41598C5.73818 3.9531 6.26501 3.66111 6.83973 3.6149C7.49907 3.5619 8.29805 4.06126 9.896 5.05998L16.6582 9.28638Z');
				pauseButtonPath.classList.remove('svgPause');
            });
			videoPlayer.addEventListener('play', () => {
				videoPlayer.classList.remove('paused');
				videoPlayer.classList.add('playing');
				pauseButtonPath.setAttribute('d', 'M8 5V19M16 5V19 stroke-width="3"');
				pauseButtonPath.classList.add('svgPause');
			});

            function updateProgressIfPlaying() {
                if (videoPlayer.paused) return;  
				updateProgress();
            }

			function updateProgress(){
                const progress = videoPlayer.currentTime / videoPlayer.duration;
                progressValue.style.width = progress * 100 + '%';
			}

			function setTimer(){
				setInterval(updateProgressIfPlaying, 10);
			}

			progressBar.addEventListener('click', (event) => {
				const progressBarRect = progressBar.getBoundingClientRect();
				const progress = (event.clientX - progressBarRect.left) / progressBarRect.width;
				videoPlayer.currentTime = videoPlayer.duration * progress;
				updateProgress();
			});


            pauseButton.addEventListener('click', () => {
                if (videoPlayer.paused) {
                    videoPlayer.play();
                } else {
                    videoPlayer.pause();
                }
            });

			const observer = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        videoPlayer.play();
                    } else {
                        videoPlayer.pause();
                    }
                });
            });

            observer.observe(videoPlayer);
        });
    });
</script>

<style>
	.fadeInLeftNombre{
		animation: faseInLeft 1s ease;
		opacity:0;
		animation-fill-mode: forwards;
	}
	@keyframes faseInLeft{
		from{
			opacity: 0;
			transform: translateX(-10%);
		}
		to{
			opacity: 1;
			transform: translateX(0%);
		}
	}

	.fadeInRightFoto{
		animation: faseInRight 0.8s ease;
		opacity:0;
		animation-fill-mode: forwards;
	}
	@keyframes faseInRight{
		from{
			opacity: 0;
			transform: translateX(33%);
		}
		to{
			opacity: 1;
			transform: translateX(0%);
		}
	}

	.fadeInSubtitulo1{
		animation: faseInBlur 0.8s ease;
		opacity:0;
		animation-fill-mode: forwards;
		animation-delay: 300ms;
	}
	.fadeInSubtitulo2{
		animation: faseInBlur 0.8s ease;
		opacity:0;
		animation-fill-mode: forwards;
		animation-delay: 400ms;
	}
	.fadeInSparkles{
		animation: faseInBlur 1s ease;
		animation-delay: 0.5s;
		opacity:0;
		animation-fill-mode: forwards;
	}
	@keyframes faseInBlur{
		from{
			opacity: 0;
			filter:blur(2px);
		}
		to{
			opacity: 1;
			filter:blur(0px);
		}
	}

	


	#divPaginaPrincipal{
		height:100vh;
	}

	.divSparklesFoto{
		width: 100%;
		position:relative;
		display: flex;
		justify-content:center;
	}

	.pVerde{
		font-weight: bold;
		color:var(--color-primary-100);
	}

	h1{
		margin-bottom: 0px;
	}

	#h1Nombre {
		font-size: 86px;
		color: var(--color-primary-100);

		font-weight: bolder;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top:0px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}


	.divSparkles{
		display:flex;
		justify-content: center;
		position:absolute;
	}

	.divFoto{
		display: flex;
		display:flex;
		justify-content: center;
	}
	.divFotoSocialLinks{
		position:relative;
		margin-top:40px;	
	}



	.foto {
		box-shadow: 0 0 15px var(--color-primary-600);
		border-radius: 50%;
		width: 225px;
		height: 225px;
	}

	.foto:hover {
		transition: 0.3s;
		box-shadow: 0 0 25px var(--color-primary-600);
	}



	.divNombre {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.divSubtitulo {
		self-align: flex-start;
		width:100%;
		padding-top:25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: left;
	}	

	.divAuxiliarSubtitulo{
		max-width:60%;
		display: flex;
		flex-direction: column;

	}


	.h3SubTitulo {
		margin-bottom: 20x;
		margin-top:50px;
		font-weight: bold;
		/*color:#43b843;*/
		color: var(--color-tertiary-100);
		font-size: 42px;
	}

	p{
		margin-top: 0px;
	}


	.imgLogo{
		position: absolute;
        width: 40px;
        height: 40px;
        transition: all ease 0.3s;
    }
    .imgLogo:hover{
        transform: scale(1.2);
    }

	@media screen and (max-width: 1500px) {
		#h1Nombre {
			font-size: 72px;
		}
		.divAuxiliarSubtitulo{
			max-width: 80%;
		}
	}
	@media screen and (max-width: 1200px) {
		#h1Nombre {
			font-size: 64px;
		}
		.divAuxiliarSubtitulo{
			max-width: 100%;
		}
	}
	@media screen and (max-width: 1100px) {
		#h1Nombre {
			font-size: 48px;
		}
		.h3SubTitulo{
			font-size: 36px;
		}
		.subtitulo p{
			font-size: 24px;
		}

		.divSparkles{
			display:none;
		}
	}
	@media screen and (max-width: 900px) {
		#h1Nombre {
			font-size: 32px;
		}
		.h3SubTitulo{
			font-size: 32px;
		}
		.subtitulo p{
			font-size: 20px;
		}
	}
	@media screen and (max-width: 768px) {
		#h1Nombre {
			font-size: 24px;
		}
		.h3SubTitulo{
			font-size: 24px;
		}
		.subtitulo p{
			font-size: 16px;
		}
	}


</style>