---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout tituloPagina="Proyectos"/>

	<h2>Estudios</h2>
	<div class="divEstudios">
		<div>
			<h3>Ingeniería Informática, Facultad de Donostia San-Sebastian</h3>
			<p>Desde Septiembre de 2021</p>
		</div>
	</div>
	<h2>Lenguajes</h2>
	<h2>Frameworks</h2>
	<h2>Proyectos</h2>
<BaseLayout/>