---
let nombre = Astro.props.nombre;
---

<div class="divTerminal">
    <img class="icono" src="/svg/ubuntu.svg">
    <div class="divLinea"></div>
    <h2><span>martin:~/</span>{nombre}<span>$</span></h2>
</div>

<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
    width="236.000000pt" height="15.000000pt" viewBox="0 0 236.000000 15.000000"
    preserveAspectRatio="xMidYMid meet">
    <g transform="translate(0.000000,15.000000) scale(0.100000,-0.100000)"
    fill="#303030" stroke="none">
    <path d="M69 81 c-38 -37 -69 -71 -69 -75 0 -3 508 -6 1128 -6 l1128 0 51 38
    51 38 -53 37 -53 37 -1058 0 -1057 0 -68 -69z"/>
    </g>

</svg>
<img src="/svg/terminal/flecha.svg">

<style>
    img{
        width:40%;
        height:40%;
    }

    .divLinea{
        margin-top:-4px;
        margin-right:32px;
        width: 2px;
        height: 40px;
        background-color: #808080;
        transform: rotate(45deg);
    }
    .icono{
        width:40px;
        height: 40px;
        margin-top: -3px;
        margin-right:10px;
        padding-right: 10px;
        margin-left:-10px;
    }

    .divTerminal{
        background-image: url("/svg/flecha2.svg");
        box-shadow: inset 0px 0px 0px 2px #71d7c7;
        background-size: 540px;
        padding-left: 50px;
        margin-bottom: 50px;

        background-repeat: no-repeat;
        display: flex;
        align-items: center;

        width: fit-content;

    }
    .divTerminal h2{
        margin-top:-5px;
        padding-right: 45px;
        margin-left:-5px;
    }
    h2{
        margin:0px;
        font-size: 32px;
    }
    span{
        font-weight: bold;
        color: #71d7c7;
    }
</style>