---
import Navigation from "./Navigation.astro";
---


<header>
    <nav class="divHeader">
        <img class="imgLogo" src="../../public/svg/logo.svg">
        <Navigation />
    </nav>
</header>

<style>
    .divHeader{
        display:flex;
        justify-content: space-between;

    }

    .imgLogo{
        width: 40px;
        height: 40px;
        transition: all ease 0.3s;
    }
    .imgLogo:hover{
        transform: scale(1.2);
        color: black;
    }
</style>