---
import Navigation from "./Navigation.astro";

const showName = Astro.props.showName;
---


<header>
    <nav class="divHeader">
        <div class="divLogoNombre">
            <img class="imgLogo" src="/svg/logo.svg">
            {showName ? <h1 class="pNombre">Martín López de Ipiña</h1> : ''}
        </div>
        <Navigation />
    </nav>
</header>

<style>

    .pNombre{
        margin:0px;
        padding-left: 10px;
        color: #c45e72;
        font-size: 28px;
        font-weight: bold;
    }

    .divLogoNombre{
        display: flex;
        align-items: center;
    }

    .divHeader{
        display:flex;
        justify-content: space-between;

    }

    .imgLogo{
        width: 40px;
        height: 40px;
        transition: all ease 0.2s;
        color:#71d7c7;

    }
    .imgLogo:hover{
        transform: scale(1.2);
        color: black;
    }
</style>