---

---

<div class="nav-links">
    <a href="/">Inicio</a>
    <a href="/proyectos">Proyectos</a>
    <a href="/experiencia">Experiencia</a>
</div>

<style>

    .nav{
        z-index: 100;
        display: flex;
        justify-content: center;
    }

    .nav-links {
        padding-right: 50px;
        padding-left: 50px;
        font-size: 1.5rem;
        font-weight: bold;
        display:inline-block;
        width: auto;
        background: none;
    }

    .nav-links a {
        font-size: 18px;
        color: white;
        text-decoration: none;
        padding-top:5px;
        padding-bottom: 15px;
        border-bottom: transparent 3px solid;
        transition: all ease 0.1s;
        margin-inline: 0px;
    }

    .nav-links a:hover{
        color:  #71d7c7;
        border-bottom: #415A77 3px solid;
        opacity: 0.8;
        transform: scale(1.05);
    }

</style>