---

---

<div class="nav-links">
    <a href="#inicio">Inicio</a>
    <a href="#Proyectos">Proyectos</a>
    <a href="#Conocimientos">Conocimientos</a>
    <a href="#Contacto">Contacto</a>
</div>

<style>

    .nav{
        z-index: 100;
        display: flex;
        justify-content: center;
    }

    .nav-links {
        padding-right: 50px;
        padding-left: 50px;
        font-size: 1.5rem;
        font-weight: bold;
        display: flex;
        gap: 15px;
    }

    .nav-links a {
        font-size: 18px;
        color: var(--color-on-surface);
        text-decoration: none;
        padding-top:5px;
        padding-bottom: 15px;
        border-bottom: transparent 3px solid;
        transition: all ease 0.1s;
        margin-inline: 0px;
    }

    .nav-links a.active{
        color: var(--color-primary-100);
        transition: all ease 0.1s;
    }


    .nav-links a:hover{
        color:  var(--color-primary-100);
        border-bottom: var(--color-primary-100) 3px solid;
        transition: all ease 0.2s;
    }

</style>