---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { tituloPagina } = Astro.props;
---


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{tituloPagina}</title>
</head>
<body>
    <Header showName/>
    <slot />    
    <Footer />
    <script src="/src/scripts/animaciones.js"></script>
</body>
<style is:global>
    body {
        font-family: monospace, sans-serif;
    }
</style>
</html>

<style>
  body {
    margin-right: 0px;
    margin-top: 4vh;
    box-sizing: border-box;
    width: 100%;
    max-width: 1080px;
    padding: 2rem;
    line-height: 1.5;

    border-radius: 15px;
    box-shadow: 0 2px 6px #0006;
    background-color:#1a1b26;
    border: 1px solid #0f1214;
}
</style>