
---
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import Header from '../components/Header.astro';
import { Tooltips } from 'astro-tooltips';

const { tituloPagina } = Astro.props;

---

<script>
    import "../scripts/checkTheme";
</script>

<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio web de Martín López de Ipiña">
    <meta name="keywords" content="Portfolio, Web, Martín López de Ipiña, Desarrollador, Programador, Frontend, Backend, Fullstack">
    <meta name="author" content="Martín López de Ipiña">

    <title>{tituloPagina}</title>
    <link rel="icon" href="svg/logo.svg">

    <Tooltips interactive={false} delay={[15, 15]}/>
</head>
<body>
    <div id="inicio" class="section"></div>
    <Header/>
    <slot />    
    <Footer />
    <script src="/src/scripts/socialLinks.js"></script>
    <script src="/src/scripts/scrollActiveNavs.js"></script>
</body>
<style is:global>
    body {
        font-family: monospace, sans-serif;
    }
</style>
</html>

<style>
    html{
        min-height: 200%;
        scroll-behavior: smooth;
        scroll-margin: 0px;
        overflow-x: hidden;
        box-sizing: border-box;
    }
	body{
		width:75%;
        margin: 0;
        margin-bottom: 25px;
	}

    @media (max-width: 768px) {
        body {
            width: 85%;
        }
    }
</style>		