
---
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import Header from '../components/Header.astro';

const { tituloPagina } = Astro.props;
---


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{tituloPagina}</title>
</head>
<body>
    <header>
        <Header/>
    </header>
    <slot />    
    <Footer />
    <script src="/src/scripts/animaciones.js"></script>
</body>
<style is:global>
    body {
        font-family: monospace, sans-serif;
    }
</style>
</html>

<style>
    html{
        min-height: 200%;
    }
    header{
        padding-top:30px;
        padding-bottom: 10px;
        margin-bottom:40px;
        position:sticky;
        top:0;
        z-index: 1000;

        background-color: #15151d;
    }
	body{
		width:75%;
        margin-top:0px;
	}
</style>		