
---
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import Header from '../components/Header.astro';

const { tituloPagina } = Astro.props;
---


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{tituloPagina}</title>
</head>
<body>
    <header>
        <Header />
    </header>
    <slot />    
    <Footer />
</body>
<style is:global>
    body {
        font-family: monospace, sans-serif;
    }
</style>
</html>

<style>
    header{
        padding-bottom: 50px;
    }
	body{
		width:75%;
		padding-top: 1%;
	}
</style>