---
import Tecnologia from "../Tecnologia.astro";

let nombre = Astro.props.nombre;
let descripcion = Astro.props.descripcion;
let comentarios = Astro.props.comentarios;
let tecnologias = Astro.props.tecnologias;
let urlImagen = Astro.props.urlImagen;
---

<div class="divProyecto">
    <img class="imgProyecto" src={urlImagen}>
    <div class="divDescripcion">
        <h3>{nombre}</h3>
        <p>{descripcion}</p>
        <a>Github</a>
        <div class="divTecnologias">
            {tecnologias.map(tec =>{
                return <Tecnologia nombre={tec}/>
            })}
        </div>
    </div>
</div>

<style>
    .divProyecto{
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 300px;
        width: 65%;

        line-height: 1.5;
        border-radius: 15px;
        box-shadow: 0 2px 6px #0006;
        background-color:#1a1b26;
        border: 1px solid #0f1214;
    }
    .divProyecto:hover{
        border: 3px solid #3b2d4b;
        margin:-2px;
    }

    .divDescripcion{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline: 25px;
    }


    .imgProyecto{
        height: 200px;
        width: 200px;
        margin: 25px;
        
    }

    h3{
        font-size:32px;
        margin:0;
        color: #bb9af7;
        font-weight: bold;
    }

    .divTecnologias{
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    a{
        text-decoration: none;
        font-size: 20px;
    }

</style>