---
import Proyecto2 from "./Proyecto2.astro"

---
<div class="divProyectosGeneral">
    <div class="divProyectos">
        <div class="listaProyectos">
            <Proyecto2 derecha={true} urlVideo="/video/audioRecorder.mp4" urlImagen="/img/audioRecorder.png" anchoImagen=550  urlProyecto="https://github.com/AlexRivasMachin/AudioRecorder" nombre="AudioRecorder" descripcion="Aplicación web de grabación de audio, con la posibilidad de guardar y reproducir los audios grabados. Contiene autenticación mediante OAuth y transcripción de audio utilizando WhisperAI."
            tecnologias={["HTML", "CSS","JavaScript", "ExpressJS", "MongoDB", "NodeJS"]}/> 
            <Proyecto2 derecha={false} urlVideo="/video/ajedrez.mp4" urlImagen="/img/ajedrez.png" anchoImagen=350 urlProyecto="https://github.com/AlexRivasMachin/AudioRecorderhttps://github.com/MartinLopezDeIpina/Ajedrez" nombre="Ajedrez" descripcion="Juego de ajedrez con posibilidad de jugar contra la máquina o contra otro jugador en local. Contiene un sistema de usuarios que permite guardar las partidas para continuarlas o verlas en cualquier momento."
            tecnologias={["Java", "JavaFX", "SQL", "MySQL"]}/> 
            <Proyecto2 derecha={true} urlVideo="/video/films.mp4" urlImagen="/img/films.png" nombre="Films" descripcion="Aplicación web para votar películas favoritas. Contiene un sistema de autenticación de Django y multilingüismo. Los usuarios administradores pueden añadir películas."
            tecnologias={["Python", "Django", "HTML", "CSS", "JavaScript", "JQuery"]}/>
        </div>
    </div>
</div>

<style>
    .listaProyectos{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 250px;
    }
    .divProyectosGeneral{
        margin-top: 50px;
        margin-bottom: 75px;
    }
    .divProyectos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

</style>
