---
let nombre = Astro.props.nombre;
let descripcion = Astro.props.descripcion;
let comentarios = Astro.props.comentarios;
let tecnologias = Astro.props.tecnologias;
---

<div class="divProyecto">
</div>

<style>
    .divProyecto{
        height: 300px;
        width: 100vh;

        box-sizing: border-box;
        line-height: 1.5;
        border-radius: 15px;
        box-shadow: 0 2px 6px #0006;
        background-color:#1a1b26;
        border: 1px solid #0f1214;
    }
    .divProyecto:hover{
        transform: scale(1.01);
        transition: all 0.2s ease;
    }

</style>