---
import Proyecto from "./Proyecto.astro"
import H2 from "../H2.astro"

---

<div class="divProyectosGeneral">
    <H2 nombre="Proyectos" />
    <div class="divProyectos">
        <Proyecto /> 
    </div>
</div>

<style>




    .divProyectosGeneral{
        margin-top:15vh;
    }
    .divProyectos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
